/*#region ===== GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}
body {
    background: var(--background-0);
    color: var(--white-1);
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
    align-items: center;
}
:root {
    --numbers: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --name: 'Caveat', cursive;

    --main: rgb(167, 0, 250);
    --background-0: rgb(18, 18, 18);
    --background-1: rgba(200, 200, 200, 0.3);
    --background-2: rgba(200, 200, 200, 0.04);
    --background-2-hover: rgba(200, 200, 200, 0.1);
    --background-2-tag: rgba(200, 200, 200, 0.07);
    --background-3: rgb(24, 24, 24);
    --border: rgba(255, 255, 255, 0.221);
    --border-hover: rgba(255, 255, 255, 0.3);
    --shadow: rgba(0, 0, 0, 0.8);
    --white-1: rgb(255, 255, 255);
    --white-2: rgb(204, 204, 204);
    --grey-1: rgb(130, 130, 130);
    --grey-2: rgb(110, 110, 110);
}
html {
    padding-top: 100px;
    scroll-behavior: smooth !important;
}
html.no-touch {
    margin: 0 !important;
    padding: 0 !important;
}
h2 {
    color: var(--grey-2);
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5px;
}
h3 {
    color: var(--white-2);
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 20px;
}
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.button .ripple-effect {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(115, 115, 115, 0.05);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}
.button .ripple-effect.animate {
    width: 300px;
    height: 300px;
    opacity: 0;
}
/*#endregion */

/*#region ===== ANIMATION */
@keyframes AnimationScaleScroll {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes AnimationToTop {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes AnimationToLeft {
    from {
        transform: translateX(120%) translateY(-50%);
    }
    to {
        transform: translateX(0%) translateY(-50%);
    }
}
@keyframes Underline {
    0% {
        width: 40%;
    }
    100% {
        width: 70%;
    }
}
.AnimationScaleScroll {
    animation: AnimationScaleScroll 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
    will-change: transform, opacity, scale;
}
.AnimationScale {
    animation: AnimationScaleScroll 0.4s linear;
    will-change: transform, opacity, scale;
}
.AnimationToTop {
    animation: AnimationToTop 0.6s ease-out;
    will-change: transform, opacity, scale;
}
.AnimationToLeft {
    animation: AnimationToLeft 0.6s ease-out;
    will-change: transform, opacity, scale;
}
/*#endregion */

/*#region ===== NAVIGATION BAR */
.name {
    position: fixed;
    top: 28px;
    left: 40px;
    font-size: 22px;
    font-weight: 600;
    color: var(--background-2-hover);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 5;
    font-family: var(--name);
    text-rendering: optimizeLegibility;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    z-index: 5;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.nav nav {
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 53px;
    border: 1px;
    border-style: solid;
    backdrop-filter: blur(30px);
    border-color: var(--border);
    opacity: 1;
}
.nav nav .about { 
    width: 120%;
}
.nav nav .contact { 
    width: 120%; 
}
.nav nav .experience { 
    width: 140%; 
}
.nav nav .education { 
    width: 130%; 
}
.nav nav .life { 
    width: 110%; 
}
.nav nav .knowledge { 
    width: 130%; 
}
.nav nav a {
    color: var(--grey-1);
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px;
    z-index: 2;
}
.nav nav a:hover {
    color: var(--white-1);
    transition: 0.4s ease;
}
.nav nav a.active {
    color: var(--white-1);
    transition: 1s ease;
}
.nav nav a.hovered {
    color: var(--white-1);
    transition: 0.4s ease;
}
.nav nav a:not(.active):not(a:hover) {
    color: var(--grey-1);
    transition: 0.4s ease;
}
.nav nav span {
    background: var(--main);
    position: absolute;
    left: 0;
    height: 31px;
    border-radius: 3px;
    transition: 0.8s ease;
    z-index: 1;
}
/*#endregion */

/*#region ===== CONTACT ME */
.contactHTML {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 150px 20px 50px 20px;
}
.contactHTML .background-image {
    position: absolute;
    object-fit: cover;
    mix-blend-mode: screen;
    height: auto;
    width: 80%;
    top: 60%;
    left: 15%;
    filter: brightness(0.5);
    z-index: -1;
    transform: translate(-50%, -50%);
}
.contactHTML .contact {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.contactHTML .contact-socials { 
    width: 80%; 
}
.contactHTML .contact-socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    padding-right: 50px;
}
.contactHTML .contact-socials .button {
    background: var(--background-3);
    padding: 21px;
    width: 60%;
    color: var(--white-1);
    transition: 0.5s ease;
    border: 1px solid var(--border);
    align-items: center;
    border-radius: 2px;
    display: flex;
    gap: 20px;
    position: relative;
}
.contactHTML .contact-socials .button .text {
    font-size: 15px;
    padding: 0;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.contactHTML .contact-socials .button .logo{
    filter: invert(1);
    font-size: 23px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}
.contactHTML .contact-socials .button .link{
    filter: invert(1);
    opacity: 0.5;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}
.contactHTML .contact-socials .button:hover { 
    border-color: var(--border-hover);
}
.contactHTML .contact-form { 
    width: 80%; 
}
.contactHTML .contact-form .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--border);
    padding-inline: 50px;
    padding-block: 50px;
    width: 85vh;
    background: var(--background-3);
    border-radius: 2px;
}
.contactHTML .contact-form .form h2 {
    text-align: left;
    padding: 0;
}
.contactHTML .contact-form .form h3 {
    text-align: left;
    padding-bottom: 20px;
}
.contactHTML .contact-form .form .input{
    width: 100%;
    padding: 20px;
    font-size: 16px;
    background: var(--background-2);
    border: none;
    color: var(--white-1);
    border-radius: 2px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.contactHTML .contact-form .form .input:focus { 
    outline: none; 
}
.contactHTML .contact-form .form .button {
    padding: 15px;
    background: var(--background-1);
    color: var(--white-1);
    border: none;
    transition: 0.3s;
    font: 17px sans-serif;
    border-radius: 2px;
}
.contactHTML .contact-form .form .button:hover { 
    background: var(--main); 
}
/*#endregion */

/*#region ===== EDUCATION */
.educationHTML {
    position: relative;
    max-width: 90%;
    margin: auto;
    padding: 150px 20px 50px 20px;
}
.educationHTML::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background: var(--border);
    transform: translateX(-50%);
    z-index: 0;
}
.educationHTML .card {
    display: flex;
    text-align: left;
    width: 100%;
    position: relative;
    margin-bottom: -20px;
    padding-top: 10px;
    border-radius: 2px;
}
.educationHTML .card.left { 
    flex-direction: row;
}
.educationHTML .card.right { 
    flex-direction: row-reverse;
}
.educationHTML .card .content {
    width: 43%;
    background: var(--background-3);
    padding: 25px 50px 50px 50px;
    border: 1px solid var(--border);
    list-style-position: inside;
    border-radius: 2px;
}
.educationHTML .card .content p {
    font-size: 0.95rem;
    color: var(--white-2);
    line-height: 1.6;
    padding-bottom: 20px;
}
.educationHTML .card .content li {
    font-size: 0.95rem;
    color: var(--white-2);
    line-height: 1.8;
}
.educationHTML .card .content .tags {
    position: relative;
    left: 250px;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.educationHTML .card .content .tags div {
    background-color: var(--background-2-tag);
    color: var(--white-2);
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--border);
    font-size: 0.8rem;
    margin-left: 10px;
}
.educationHTML .card .number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main);
    font-size: 18px;
    font-family: var(--numbers);
    text-decoration: none;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 10px solid var(--background-0);
}
.educationHTML .number-nav {
    position: fixed;
    top: 35%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.educationHTML .number-nav button {
    background: var(--background-3);
    border: 1px solid var(--border);
    color: var(--white-2);
    padding: 10px;  
    margin: 5px 0;
    border-radius: 8px;
    transition: 0.5s ease;
    font-family: var(--numbers);
}
.educationHTML .number-nav button:hover {
    background: var(--main);
}
.educationHTML .number-nav button.active {
    background: var(--main);
}
.educationHTML .card:nth-child(1) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(2) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(3) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(4) .number { 
    top: 190px; 
}
/*#endregion */

/*#region ===== MY LIFE  */
.lifeHTML {
    line-height: 1.6;
    position: relative;
    padding: 150px 20px 50px 20px;
}
.lifeHTML .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
    mask-image: linear-gradient(to bottom, rgba(18, 18, 18, 1) 80%, rgba(18, 18, 18, 0));
}
.lifeHTML .glimpse {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    text-align: center;
}
.lifeHTML .glimpse .content {
    max-width: 1200px;
    z-index: 1;
}
.lifeHTML .glimpse .content h3 {
    font-size: 3.8em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px var(--shadow);
    letter-spacing: 0.1em;
    text-transform: none;
    color: var(--white-1);
    position: relative;
}
.lifeHTML .glimpse .content h3::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    animation: Underline 2s ease-in-out infinite alternate;
}
.lifeHTML .glimpse .content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    line-height: 1.9;
    text-shadow: 1px 1px 3px var(--shadow);
    max-width: 700px;
    margin: 0 auto;
    color: var(--white-1);
    animation: fadeIn 1.2s ease-in-out;
}
.lifeHTML .glimpse .content button {
    background: none;
    border: 1px solid var(--white-1);
    color: var(--white-1);
    padding: 15px 30px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
}
.lifeHTML .glimpse .content button:hover {
    border: 1px solid var(--main);
    background: var(--main);
}
.lifeHTML .life-section {
    margin-bottom: 50px;
}
.lifeHTML .life-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: var(--white-1);
}
.lifeHTML .gallery {
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 20px;
}
.lifeHTML .gallery img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.lifeHTML .hobbies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.lifeHTML .hobbies .hobby {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
}
.lifeHTML .hobbies .hobby i {
    font-size: 2em;
    margin-bottom: 15px;
}
.lifeHTML .milestones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.lifeHTML .milestones .milestone {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
}
/*#endregion */