/*#region ===== GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}
body {
    background: var(--background-0);
    color: var(--white-1);
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    align-items: center;
}
:root {
    --numbers: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --name: 'Caveat', cursive;

    --main: rgb(167, 0, 250);
    --background-0: rgb(18, 18, 18);
    --background-1: rgba(200, 200, 200, 0.3);
    --background-2: rgba(200, 200, 200, 0.04);
    --background-2-hover: rgba(200, 200, 200, 0.1);
    --background-2-tag: rgba(200, 200, 200, 0.07);
    --background-3: rgb(24, 24, 24);
    --border: rgba(255, 255, 255, 0.221);
    --border-hover: rgba(255, 255, 255, 0.3);
    --shadow: rgba(0, 0, 0, 0.8);
    --black-hover: rgba(0, 0, 0, 0.302);
    --white-1: rgb(255, 255, 255);
    --white-2: rgb(204, 204, 204);
    --white-3: rgb(225, 225, 225);
    --grey-1: rgb(130, 130, 130);
    --grey-2: rgb(110, 110, 110);
    --grey-3: rgb(53, 53, 53);
    --yellow-1: rgb(255, 255, 179);
}
html {
    scroll-behavior: smooth !important;
    margin: 0 !important;
    padding: 0 !important;
}
h2 {
    color: var(--grey-2);
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5px;
}
h3 {
    color: var(--white-3);
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 20px;
}
.button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.button .ripple-effect {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(115, 115, 115, 0.05);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-out, height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 1;
}
.button .ripple-effect.animate {
    width: 300px;
    height: 300px;
    opacity: 0;
}
.divider {
    display: flex;
    padding: 90px 0;
    align-items: center;
    margin: 1em -3em;
    font-style: italic;
    &:before,
    &:after {
      content: "";
      flex: 1;
      height: 1px;
      margin: 0 1em;
      box-shadow: 0 0.5px 0 var(--grey-2);
    }
}
@font-face {
    font-family: 'Millenia';
    src: url('/Fonts/MilleniaPersonalUse-w1OB8.ttf') format('truetype');
    font-weight: normal; /* Set the font weight */
    font-style: normal; /* Set the font style */
}
/*#endregion */

/*#region ===== ANIMATION */
@keyframes AnimationScaleScroll {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes AnimationToTop {
    from {
        transform: translateY(5%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes AnimationToLeft {
    from {
        transform: translateX(120%) translateY(-50%);
    }
    to {
        transform: translateX(0%) translateY(-50%);
    }
}
@keyframes Underline {
    0% {
        width: 40%;
    }
    100% {
        width: 70%;
    }
}
.AnimationScaleScroll {
    animation: AnimationScaleScroll 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
    will-change: transform, opacity, scale;
}
.AnimationScale {
    animation: AnimationScaleScroll 0.4s linear;
    will-change: transform, opacity, scale;
}
.AnimationToTop {
    animation: AnimationToTop 0.6s ease-out;
    will-change: transform, opacity, scale;
}
.AnimationToLeft {
    animation: AnimationToLeft 0.6s ease-out;
    will-change: transform, opacity, scale;
}
/*#endregion */

/*#region ===== NAVIGATION BAR */
.name {
    position: fixed;
    top: 28px;
    left: 40px;
    font-size: 22px;
    font-weight: 600;
    color: var(--grey-3);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 0;
    font-family: var(--name);
    text-rendering: optimizeLegibility;
    font-family: "Millenia", cursive;
    letter-spacing: 5px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    z-index: 5;
    margin: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.nav nav {
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 53px;
    border: 1px;
    border-style: solid;
    backdrop-filter: blur(30px);
    border-color: var(--border);
    opacity: 1;
}
.nav nav .about { 
    width: 120%;
}
.nav nav .contact { 
    width: 120%; 
}
.nav nav .experience { 
    width: 140%; 
}
.nav nav .education { 
    width: 130%; 
}
.nav nav .life { 
    width: 110%; 
}
.nav nav .knowledge { 
    width: 130%; 
}
.nav nav a {
    color: var(--grey-1);
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0px;
    z-index: 2;
}
.nav nav a:hover {
    color: var(--white-1);
    transition: 0.4s ease;
}
.nav nav a.active {
    color: var(--white-1);
    transition: 1s ease;
}
.nav nav a.hovered {
    color: var(--white-1);
    transition: 0.4s ease;
}
.nav nav a:not(.active):not(a:hover) {
    color: var(--grey-1);
    transition: 0.4s ease;
}
.nav nav span {
    background: var(--main);
    position: absolute;
    left: 0;
    height: 31px;
    border-radius: 3px;
    transition: 0.8s ease;
    z-index: 1;
}
/*#endregion */

/*#region ===== CONTACT ME */
.contactHTML {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    padding: 150px 20px 50px 20px;
}
.contactHTML .background-image {
    position: absolute;
    object-fit: cover;
    mix-blend-mode: screen;
    top: 60%;
    left: 15%;
    filter: brightness(0.5);
    z-index: -1;
    transform: translate(-50%, -50%);
}
.contactHTML .contact {
    display: flex;
    width: 80%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.contactHTML .contact-socials { 
    width: 80%; 
}
.contactHTML .contact-socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    padding-right: 50px;
}
.contactHTML .contact-socials .button {
    background: var(--background-3);
    padding: 21px;
    width: 60%;
    color: var(--white-1);
    transition: 0.5s ease;
    border: 1px solid var(--border);
    align-items: center;
    border-radius: 2px;
    display: flex;
    gap: 20px;
    position: relative;
}
.contactHTML .contact-socials .button .text {
    font-size: 15px;
    padding: 0;
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.contactHTML .contact-socials .button .logo{
    filter: invert(1);
    font-size: 23px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}
.contactHTML .contact-socials .button .link{
    filter: invert(1);
    opacity: 0.5;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}
.contactHTML .contact-socials .button:hover { 
    border-color: var(--border-hover);
}
.contactHTML .contact-form { 
    width: 80%; 
}
.contactHTML .contact-form .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--border);
    padding-inline: 50px;
    padding-block: 50px;
    width: 85vh;
    background: var(--background-3);
    border-radius: 2px;
}
.contactHTML .contact-form .form h2 {
    text-align: left;
    padding: 0;
}
.contactHTML .contact-form .form h3 {
    text-align: left;
    padding-bottom: 20px;
}
.contactHTML .contact-form .form .input{
    width: 100%;
    padding: 20px;
    font-size: 16px;
    background: var(--background-2);
    border: none;
    color: var(--white-1);
    border-radius: 2px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.contactHTML .contact-form .form .input:focus { 
    outline: none; 
}
.contactHTML .contact-form .form .button {
    padding: 15px;
    background: var(--background-1);
    color: var(--white-1);
    border: none;
    transition: 0.3s;
    font: 17px sans-serif;
    border-radius: 2px;
}
.contactHTML .contact-form .form .button:hover { 
    background: var(--main); 
}
/*#endregion */

/*#region ===== EDUCATION */
.educationHTML {
    position: relative;
    max-width: 90%;
    margin: auto;
    padding: 150px 20px 50px 20px;
}
.educationHTML::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background: var(--border);
    transform: translateX(-50%);
    z-index: 0;
}
.educationHTML .card {
    display: flex;
    text-align: left;
    width: 100%;
    position: relative;
    margin-bottom: -20px;
    padding-top: 10px;
    border-radius: 2px;
}
.educationHTML .card.left { 
    flex-direction: row;
}
.educationHTML .card.right { 
    flex-direction: row-reverse;
}
.educationHTML .card .content {
    width: 43%;
    background: var(--background-3);
    padding: 25px 50px 50px 50px;
    border: 1px solid var(--border);
    list-style-position: inside;
    border-radius: 2px;
}
.educationHTML .card .content p {
    font-size: 0.95rem;
    color: var(--white-2);
    line-height: 1.6;
    padding-bottom: 20px;
}
.educationHTML .card .content li {
    font-size: 0.95rem;
    color: var(--white-2);
    line-height: 1.8;
}
.educationHTML .card .content .tags {
    position: relative;
    left: 250px;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.educationHTML .card .content .tags div {
    background-color: var(--background-2-tag);
    color: var(--white-2);
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid var(--border);
    font-size: 0.8rem;
    margin-left: 10px;
}
.educationHTML .card .number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main);
    font-size: 18px;
    font-family: var(--numbers);
    text-decoration: none;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 10px solid var(--background-0);
}
.educationHTML .number-nav {
    position: fixed;
    top: 35%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.educationHTML .number-nav button {
    background: var(--background-3);
    border: 1px solid var(--border);
    color: var(--white-2);
    padding: 10px;  
    margin: 5px 0;
    border-radius: 8px;
    transition: 0.5s ease;
    font-family: var(--numbers);
}
.educationHTML .number-nav button:hover {
    background: var(--main);
}
.educationHTML .number-nav button.active {
    background: var(--main);
}
.educationHTML .card:nth-child(1) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(2) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(3) .number { 
    top: 170px; 
}
.educationHTML .card:nth-child(4) .number { 
    top: 190px; 
}
/*#endregion */

/*#region ===== MY LIFE  */
.lifeHTML {
    position: relative;
    padding: 150px 20px 50px 20px;
}
.lifeHTML .background-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.3);
    mix-blend-mode: screen;
    mask-image: linear-gradient(to bottom, rgba(18, 18, 18, 1) 80%, rgba(18, 18, 18, 0));
}
.lifeHTML .intro {
    padding: 0 0 120px 0;
}
.lifeHTML .intro p {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 1.9;
    text-shadow: 1px 1px 3px var(--shadow);
    max-width: 700px;   
    color: var(--white-2);
    font-style: italic;
    padding: 10px 20px;
    border-left: 1px solid var(--white-2);
    margin: 0 auto;
}
.lifeHTML .countries {
    padding: 40px 40px 0 40px;
}
.lifeHTML .countries .country {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
    padding: 30px;
    background: var(--background-3);
    margin-left: 100px;
    position: relative;
}
.lifeHTML .countries .country:last-child {
    margin-bottom: 0;
}
.lifeHTML .countries .country::before {
    content: "";
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 26%;
    width: 1px;
    background-color: var(--border);
}
.lifeHTML .countries .country .info {
    flex: 0 0 30%;
    min-width: 250px;
    padding: 0 50px 0 40px;
    text-align: left;
    color: var(--white-2);
}
.lifeHTML .countries .country .goal {
    font-size: 35px;
    color: var(--grey-3);
    padding: 25px 0 35px 0;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    font-family: 'Millenia', cursive;
    text-rendering: optimizeLegibility;
}
.lifeHTML .countries .country p {
    color: var(--white-2);
}
.lifeHTML .countries .country .gallery {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-left: -30px;
}
.lifeHTML .countries .country .gallery .image-container {
    position: relative;
    overflow: hidden;
    width: 23%;
    height: 270px;
}
.lifeHTML .countries .country .gallery img {
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    object-fit: cover;
    filter: brightness(0.8);
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    will-change: transform;
    image-rendering: optimizeQuality;
}
.lifeHTML .countries .country .gallery .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-1);
    font-size: 1.2em;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 8px var(--shadow);
    padding: 20px;
}
.lifeHTML .countries .country .gallery .image-container:hover img {
    transform: scale(1.01);
}
.lifeHTML .countries .country .gallery .image-container:hover .image-overlay {
    opacity: 1;
}
.lifeHTML .world-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lifeHTML .world-map h2 {
    font-size: 70px;
    margin-bottom: 40px;
    font-weight:bolder;
    filter: brightness(0.3);
}
.lifeHTML .map {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background: var(--background-3);
    box-shadow: 0 3px 10px var(--black-hover);
}
.lifeHTML .map .marks {
    position: absolute;
    bottom: 10px;
    right: 160px;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
    background: var(--background-3);
}
.lifeHTML .map .marks .mark {
    display: inline-flex;
    align-items: center;
    color: var(--white-2);
    margin: 0 15px;
}
.lifeHTML .map .marks span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.lifeHTML .map .marks .visited {
    background-color: var(--main);
    filter: brightness(0.7);
}
.lifeHTML .map .marks .to-visit {
    background-color: var(--yellow-1);
    filter: brightness(0.7);
}
.lifeHTML .map img {
    position: relative;
    object-fit: contain;
    filter: brightness(0.7);
}





.facts {
    background: var(--background-3);
}
.number-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    font-size: 25px;
    color: var(--main);
    border-radius: 50%;
    padding: 20px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*#endregion */